# Make training data

In [1]:
import csv

def iseven(n: int) -> bool:
    return n%2 == 0

with open('oddeven.csv', 'w', newline='') as f:
    writer = csv.DictWriter(f, fieldnames=['number', 'iseven'])
    writer.writeheader()
    for num in range(100):
        writer.writerow({'number': num, 'iseven': iseven(num)})

# Read the data

In [2]:
import pandas as pd

df = pd.read_csv('oddeven.csv')
df

    number  iseven
0        0    True
1        1   False
2        2    True
3        3   False
4        4    True
..     ...     ...
95      95   False
96      96    True
97      97   False
98      98    True
99      99   False

[100 rows x 2 columns]

In [3]:
X = df['number']
X

0      0
1      1
2      2
3      3
4      4
      ..
95    95
96    96
97    97
98    98
99    99
Name: number, Length: 100, dtype: int64

In [4]:
y = df['iseven']
y

0      True
1     False
2      True
3     False
4      True
      ...
95    False
96     True
97    False
98     True
99    False
Name: iseven, Length: 100, dtype: bool

In [5]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.5)

In [7]:
X_train

64    64
4      4
58    58
53    53
31    31
35    35
9      9
52    52
61    61
45    45
80    80
75    75
20    20
59    59
18    18
5      5
22    22
34    34
19    19
81    81
68    68
17    17
69    69
6      6
62    62
55    55
30    30
28    28
49    49
23    23
12    12
33    33
48    48
77    77
24    24
10    10
40    40
96    96
32    32
83    83
78    78
95    95
38    38
92    92
25    25
11    11
60    60
72    72
2      2
16    16
Name: number, dtype: int64

In [8]:
X_test

43    43
8      8
87    87
67    67
13    13
15    15
84    84
79    79
46    46
29    29
51    51
57    57
21    21
37    37
70    70
0      0
89    89
99    99
36    36
94    94
93    93
44    44
7      7
42    42
3      3
54    54
41    41
91    91
90    90
98    98
1      1
50    50
74    74
66    66
71    71
56    56
82    82
86    86
63    63
76    76
39    39
14    14
97    97
47    47
65    65
26    26
27    27
88    88
85    85
73    73
Name: number, dtype: int64

In [9]:
y_train

64     True
4      True
58     True
53    False
31    False
35    False
9     False
52     True
61    False
45    False
80     True
75    False
20     True
59    False
18     True
5     False
22     True
34     True
19    False
81    False
68     True
17    False
69    False
6      True
62     True
55    False
30     True
28     True
49    False
23    False
12     True
33    False
48     True
77    False
24     True
10     True
40     True
96     True
32     True
83    False
78     True
95    False
38     True
92     True
25    False
11    False
60     True
72     True
2      True
16     True
Name: iseven, dtype: bool

In [10]:
y_test

43    False
8      True
87    False
67    False
13    False
15    False
84     True
79    False
46     True
29    False
51    False
57    False
21    False
37    False
70     True
0      True
89    False
99    False
36     True
94     True
93    False
44     True
7     False
42     True
3     False
54     True
41    False
91    False
90     True
98     True
1     False
50     True
74     True
66     True
71    False
56     True
82     True
86     True
63    False
76     True
39    False
14     True
97    False
47    False
65    False
26     True
27    False
88     True
85    False
73    False
Name: iseven, dtype: bool

In [11]:
import numpy as np

X_train = np.array(X_train)
X_train = X_train.reshape(-1, 1) # Reshape to N rows with 1 column each
# DecisionTreeClassifier expects 2D array

X_train[:10] # First 10 elements

array([[64],
       [ 4],
       [58],
       [53],
       [31],
       [35],
       [ 9],
       [52],
       [61],
       [45]], dtype=int64)

In [12]:
model = DecisionTreeClassifier()
model.fit(X_train, y_train)

DecisionTreeClassifier()

In [13]:
X_test = np.array(X_test)
X_test = X_test.reshape(-1, 1)
predictions = model.predict(X_test)
predictions

array([False, False, False,  True,  True,  True, False,  True, False,
        True,  True,  True,  True,  True, False,  True,  True,  True,
       False, False,  True, False,  True,  True,  True, False,  True,
        True,  True,  True,  True, False, False,  True,  True, False,
       False, False,  True, False,  True,  True,  True,  True,  True,
       False,  True,  True, False,  True])

In [14]:
score = accuracy_score(y_test, predictions)
score # Very low accuracy

0.2

In [15]:
# Visualizing
from sklearn import tree

tree.export_graphviz(model, out_file='isEvenGraph.dot',
                     feature_names=['number'],
                     class_names=list(map(str, y.unique())),
                     label='all',
                     rounded=True,
                     filled=True)